<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <app-section-container [heading]="'Información del proveedor'" [compact]="true" [divider]="true" [inset]="true">

        <div class="fg">
            <app-input label="Nombre" [formGroup]="form" controlName="nombre" [soft]="true" [disabled]="loading()"
                hint="Nombre comercial o razón social" [required]="true">
            </app-input>

            <app-input label="RUC/Cédula" [formGroup]="form" controlName="ruc" [required]="true" [soft]="true"
                [disabled]="loading()">
            </app-input>

            <app-input label="Teléfono" type="numeric" [formGroup]="form" controlName="telefono">
            </app-input>

            <app-input label="Correo" type="mail" [formGroup]="form" controlName="mail" [soft]="true"
                [disabled]="loading()">
            </app-input>

            <app-select label="Estado" [formGroup]="form" controlName="estado"
                [items]="[{label:'Activo', value:'A'}, {label:'Inactivo', value:'I'}]" [required]="true" [soft]="true"
                [disabled]="loading()">
            </app-select>
        </div>
    </app-section-container>

    <app-save-cancel [saveLabel]="id ? 'Guardar cambios' : 'Crear'" cancelLabel="Cancelar" [loading]="loading()"
        [sticky]="true" (cancel)="onCancel()">
    </app-save-cancel>
</form>