<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <app-section-container [heading]="titleLabel" [compact]="true" [divider]="true" [inset]="true">
        <div class="fg">
            <app-input label="Código" [required]="true" [formGroup]="form" controlName="codigo"
                [soft]="true"></app-input>
            <app-input label="Nombre" [required]="true" [formGroup]="form" controlName="nombre"
                [soft]="true"></app-input>

            <app-select label="Grupo" [formGroup]="form" controlName="grupoIngredienteId" [items]="grupos" [soft]="true"
                [errors]="{ required: 'Selecciona un grupo.' }"></app-select>

            <app-select label="Unidad" [formGroup]="form" controlName="unidad" [items]="[{label:'Porcentaje', value:'PORC'}, {label:'Gramos', value:'G'}
                    , {label:'Litros', value:'LT'}, {label:'Unidad', value:'UND'}, {label:'Kilogramos', value:'KG'}
                    , {label:'Paquete', value:'PACK'}, {label:'Mililitros', value:'ML'}
                ]" [soft]="true"></app-select>

            <app-select label="¿Es extra?" [formGroup]="form" controlName="esExtra"
                [items]="[{label:'Sí', value:'S'}, {label:'No', value:'N'}]" [soft]="true"></app-select>

            <app-input label="Precio extra" type="number" [formGroup]="form" controlName="precioExtra"
                [soft]="true"></app-input>

            <app-input label="Stock mínimo" type="number" [formGroup]="form" controlName="stockMinimo"
                [soft]="true"></app-input>

            <app-select label="Aplica comida" [formGroup]="form" controlName="aplicaComida"
                [items]="[{label:'Sí', value:'S'}, {label:'No', value:'N'}]" [soft]="true"></app-select>

            <app-select label="Estado" [formGroup]="form" controlName="estado"
                [items]="[{label:'Activo', value:'A'}, {label:'Inactivo', value:'I'}]" [soft]="true"></app-select>
        </div>
    </app-section-container>

    <app-save-cancel [saveLabel]="id ? 'Guardar cambios' : 'Crear'" cancelLabel="Cancelar" [loading]="loading()"
        [sticky]="true" (cancel)="onCancel()">
    </app-save-cancel>
</form>