<!-- input.component.html -->
<div class="form-field" [formGroup]="formGroup">
  <!-- label semántico, no envuelve otros bloques -->
  <label *ngIf="label" class="form-label" [attr.for]="id" [class.req]="required">
    {{ label }}
  </label>

  <div class="input-affix">
    <ng-container *ngIf="prefixTpl">
      <span class="input-affix__prefix">
        <ng-container [ngTemplateOutlet]="prefixTpl"></ng-container>
      </span>
    </ng-container>

    <ng-container [ngSwitch]="type">
      <!-- textarea -->
      <textarea *ngSwitchCase="'textarea'" class="field" [class.field--soft]="soft" [class.is-invalid]="invalid"
        [id]="id" [attr.placeholder]="placeholder || null" [attr.aria-invalid]="invalid || null"
        [attr.aria-describedby]="joinIds(helpId, invalid ? errId : null)" [readonly]="readonly || null"
        [autocomplete]="autocomplete || null" [formControlName]="controlName" rows="3">
      </textarea>

      <!-- input “normal” -->
      <input *ngSwitchDefault class="field" [class.field--soft]="soft" [class.is-invalid]="invalid" [id]="id"
        [attr.type]="type" [formControlName]="controlName" [attr.aria-invalid]="invalid || null"
        [attr.aria-describedby]="joinIds(helpId, invalid ? errId : null)" [readonly]="readonly || null"
        [attr.min]="min ?? null" [attr.max]="max ?? null" [attr.step]="step ?? null"
        [autocomplete]="autocomplete || null" />
    </ng-container>

    <ng-container *ngIf="suffixTpl">
      <span class="input-affix__suffix">
        <ng-container [ngTemplateOutlet]="suffixTpl"></ng-container>
      </span>
    </ng-container>
  </div>

  <small *ngIf="hint" class="form-help" [id]="helpId">{{ hint }}</small>
  <small *ngIf="invalid" class="form-error" [id]="errId" aria-live="polite">
    {{ msgForError() }}
  </small>
</div>