<header class="app-header">
  <div class="app-header__in">
    <!-- Hamburguesa (móvil) -->
    <button class="icon-btn md:hidden" (click)="openMobile.emit()" aria-label="Abrir menú">
      <lucide-icon [img]="Menu" size="18"></lucide-icon>
    </button>

    <!-- Colapsar (desktop) -->
    <button class="icon-btn hidden md:inline-flex" (click)="toggleCollapse.emit()" aria-label="Colapsar menú">
      <lucide-icon [img]="Blinds" size="18"></lucide-icon>
    </button>

    <div class="ml-auto"></div>

    <!-- Menú de usuario (tu dropdown) -->
    <ui-dropdown>
      <span trigger class="btn btn--secondary">
        <span class="icon-btn border-0">
          <lucide-icon [img]="UserCog" size="18"></lucide-icon>
        </span>
        <span class="hidden md:inline">{{ username() || 'Usuario' }}</span>
      </span>

      <div content class="flex flex-col">
        <div class="px-2 py-2">
          <div class="text-sm font-semibold leading-none">{{ username() || 'Usuario' }}</div>
          <div class="text-xs text-slate-500">Erre</div>
        </div>
        <hr class="my-1">
        <a class="btn btn--ghost justify-start" (click)="account()"><lucide-icon [img]="Settings"
            size="18"></lucide-icon>Settings</a>
        <hr class="my-1">
        <button class="btn btn--ghost justify-start text-rose-700" (click)="logout()"> 
          <lucide-icon [img]="LogOut" size="18"></lucide-icon>
          <span>Cerrar Sesión</span>     
        </button>
        
      </div>
    </ui-dropdown>
  </div>
</header>