<app-page-layout [headerTemplate]="headerT" [contentTemplate]="contentT"></app-page-layout>

<!-- HEADER -->
<ng-template #headerT>
  <app-title [titleLabel]="titleLabel" [subtitle]="subTitleLabel" [showBack]="true" variant="tinted" tone="brand"
    (cancel)="goBack()">
    <ui-button [icon]="Plus" label="Nuevo" variant="primary" size="md" [to]="['/ingredientes/nuevo']"></ui-button>
  </app-title>
</ng-template>

<!-- CONTENT -->
<ng-template #contentT>
  <!-- Tabs -->
  <app-tabs-filter [items]="[
    { key:'all',      label:'Todos',     count:counters.all,      tone:'brand'   },
    { key:'active',   label:'Activos',   count:counters.active,   tone:'success' },
    { key:'inactive', label:'Inactivos', count:counters.inactive, tone:'warn'    }
  ]" [active]="tab" (activeChange)="setTab($any($event))">
  </app-tabs-filter>

  <!-- Search -->
  <app-search class="w-full max-w-md" placeholder="Buscar por nombre o ID" [value]="searchForm.controls.q.value"
    (valueChange)="onSearch($event)">
  </app-search>

  <!-- Tabla -->
  <app-table [columns]="columns" [rows]="rows" [loading]="loading" [emptyText]="'No hay ingredientes'"
    [sort]="{ key: sortKey, dir: sortDir }" (sortChange)="onSort($event)" [actionsTpl]="actionsTpl">

    <ng-template #actionsTpl let-r>
      <ui-button [icon]="Pencil" label="Editar" variant="primary" size="sm" [to]="['/ingredientes', r.id, 'editar']"
        [ariaLabel]="'Editar ' + r.nombre">
      </ui-button>
    </ng-template>
  </app-table>

  <!-- Paginación -->
    <app-paginator class="pager--md" [from]="from()" [to]="to()" [total]="total" [pageIndex]="page"
        [pageSize]="pageSize" [pageSizeOptions]="[10,20,30,50]" [maxPage]="maxPage()" [controlsId]="'ingredientes-table'"
        [showInfo]="true" [showSize]="true" [showNav]="true" [showEdges]="true" [hideOnSinglePage]="false"
        (sizeChange)="setPageSize($event)" (first)="page=0;" (prev)="prev()" (next)="next()" (last)="page=maxPage()-1;">
    </app-paginator>

</ng-template>