<app-page-layout [headerTemplate]="headerT" [contentTemplate]="contentT"></app-page-layout>

<!-- HEADER -->
<ng-template #headerT>
  <div class="flex items-center justify-between">
    <app-title [titleLabel]="titleLabel" (cancel)="goBack()"></app-title>

    <app-new [to]="['/grupo-platos/nuevo']" label="Nuevo" variant="primary" [responsiveText]="true"
      ariaLabel="Crear ingrediente">
    </app-new>
  </div>
</ng-template>

<!-- CONTENT -->
<ng-template #contentT>
  <!-- Tabs -->
  <nav class="tabs">
    <button class="tab tab--all" [class.is-active]="tab==='all'" (click)="setTab('all')">Todos</button>
    <button class="tab tab--active" [class.is-active]="tab==='active'" (click)="setTab('active')">Activos</button>
    <button class="tab tab--inactive" [class.is-active]="tab==='inactive'"
      (click)="setTab('inactive')">Inactivos</button>
  </nav>

  <!-- Search -->
  <div class="mb-3">
    <app-search class="w-full max-w-md" placeholder="Buscar por nombre o ID" [value]="searchForm.controls.q.value"
      (valueChange)="onSearch($event)">
    </app-search>
  </div>

  <!-- Tabla -->
  <div class="card overflow-hidden">
    <app-table [columns]="columns" [rows]="rows" [loading]="loading" [emptyText]="'No hay grupos'"
      [sort]="{ key: sortKey, dir: sortDir }" (sortChange)="onSort($event)" [actionsTpl]="actionsTpl">

      <ng-template #actionsTpl let-r>
        <app-edit [to]="['/grupo-platos', r.id, 'editar']" ariaLabel="Editar grupo" title="Editar grupo"></app-edit>
      </ng-template>
    </app-table>

    <!-- Paginación -->
    <app-paginator class="mt-2" [from]="from()" [to]="to()" [total]="total" [pageIndex]="page" [pageSize]="pageSize"
      [pageSizeOptions]="[10,20,30,50]" [maxPage]="maxPage()" (sizeChange)="setPageSize($event)" (prev)="prev()"
      (next)="next()">
    </app-paginator>
  </div>
</ng-template>