<ng-container *ngIf="to; else buttonTpl">
  <a class="icon-btn" [routerLink]="to" [attr.aria-label]="ariaLabel || 'Editar'"
    [attr.title]="title || ariaLabel || 'Editar'" [attr.aria-disabled]="disabled ? true : null"
    [class.is-disabled]="disabled" [attr.tabindex]="disabled ? -1 : null">
    <lucide-icon [img]="Pencil" size="14" aria-hidden="true"></lucide-icon>
  </a>
</ng-container>

<ng-template #buttonTpl>
  <button type="button" class="icon-btn" [disabled]="disabled" (click)="onClick()"
    [attr.aria-label]="ariaLabel || 'Editar'" [attr.title]="title || ariaLabel || 'Editar'"> 
    <lucide-icon [img]="Pencil" size="14" aria-hidden="true"></lucide-icon>
  </button>
</ng-template>