<app-page-layout [headerTemplate]="headerT" [contentTemplate]="contentT"></app-page-layout>

<!-- HEADER -->
<ng-template #headerT>
    <app-title [titleLabel]="titleLabel" [subtitle]="subTitleLabel" [showBack]="true" variant="tinted" tone="brand"
        (cancel)="goBack()">
        <ui-button [to]="['/pago-proveedor/nuevo']" [icon]="Plus" label="Nuevo pago" variant="primary"
            size="md"></ui-button>
    </app-title>
</ng-template>

<!-- CONTENT -->
<ng-template #contentT>
    <!-- Tabs -->
    <app-tabs-filter [items]="[
    { key:'all',      label:'Todos',     count:counters.all,      tone:'brand'   },
    { key:'efectivo',   label:'Efectivo',   count:counters.active,   tone:'success' },
    { key:'transfer', label:'Transferencia', count:counters.inactive, tone:'success'    }
  ]" [active]="tab" (activeChange)="setTab($any($event))">
    </app-tabs-filter>

    <!-- Search -->
    <app-search class="w-full max-w-md" placeholder="Buscar por proveedor, referencia o ID"
        [value]="searchForm.controls.q.value" (valueChange)="onSearch($event)">
    </app-search>

    <!-- Tabla -->
    <app-table [columns]="columns" [rows]="rows" [loading]="loading" [emptyText]="'No hay pagos registrados'"
        [sort]="{ key: sortKey, dir: sortDir }" (sortChange)="onSort($event)">
    </app-table>

    <app-paginator class="pager--md" [from]="from()" [to]="to()" [total]="total" [pageIndex]="page"
        [pageSize]="pageSize" [pageSizeOptions]="[10,20,30,50]" [maxPage]="maxPage()"
        [controlsId]="'pago-proveedores-table'" [showInfo]="true" [showSize]="true" [showNav]="true" [showEdges]="true"
        [hideOnSinglePage]="false" (sizeChange)="setPageSize($event)" (first)="page=0;" (prev)="prev()" (next)="next()"
        (last)="page=maxPage()-1;">
    </app-paginator>

</ng-template>