<div class="table-wrap">
  <table class="table table--zebra table--hover" role="table">
    <caption class="sr-only">Listado</caption>

    <thead>
      <tr>
        <th *ngFor="let c of columns; trackBy: trackByCol" scope="col" [style.width.px]="c.widthPx"
          [ngClass]="{'text-right': c.align==='right','text-center': c.align==='center'}">

          <button *ngIf="c.sortable; else plain" type="button" class="sort-btn" [attr.aria-sort]="ariaSort(c)"
            (click)="onSort(c)">
            <span>{{ c.header }}</span>
            <span class="sort-indicator" [class.is-active]="sort?.key===c.key"
              [class.asc]="sort?.key===c.key && sort?.dir==='asc'">
              <lucide-icon [img]="ChevronDown" size="16" aria-hidden="true"></lucide-icon>
            </span>
          </button>

          <ng-template #plain>{{ c.header }}</ng-template>
        </th>

        <th *ngIf="actionsTpl" scope="col" class="text-right">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <!-- vacío -->
      <tr *ngIf="rows.length===0 && !loading">
        <td class="py-16 text-center text-slate-600" [attr.colspan]="columns.length + (actionsTpl?1:0)">
          {{ emptyText }}
        </td>
      </tr>

      <!-- filas -->
      <ng-container *ngFor="let r of rows; trackBy: rowTrackBy">
        <tr class="row-hover">
          <td *ngFor="let c of columns; trackBy: trackByCol"
            [ngClass]="{'text-right': c.align==='right','text-center': c.align==='center'}">

            <ng-container [ngSwitch]="c.type || 'text'">
              <ng-container *ngSwitchCase="'badge'">
                <span class="pill" [class.pill--success]="c.badgeMap && c.badgeMap[r[c.key]]==='ok'"
                  [class.pill--warning]="c.badgeMap && c.badgeMap[r[c.key]]==='warn'"
                  [class.pill--danger]="c.badgeMap && c.badgeMap[r[c.key]]==='danger'"
                  [class.pill--muted]="c.badgeMap && c.badgeMap[r[c.key]]==='muted'">
                  {{ c.valueMap?.[r[c.key]] ?? r[c.key] }}
                </span>
              </ng-container>

              <ng-container *ngSwitchCase="'status'">
                <span class="pill" [ngClass]="statusTone(c, r).cls">
                  {{ statusTone(c, r).label }}
                </span>
              </ng-container>

              <!-- fecha -->
              <ng-container *ngSwitchCase="'date'">
                {{ r[c.key] | date:(c.format || 'dd/MM/yyyy HH:mm'):(undefined):(c.locale || 'es-EC') }}
              </ng-container>

              <!-- dinero -->
              <ng-container *ngSwitchCase="'money'">
                {{ r[c.key] | currency:(c.currency || 'USD'):'symbol':'1.2-2':(c.locale || 'es-EC') }}
              </ng-container>


              <ng-container *ngSwitchDefault>
                {{ r[c.key] }}
              </ng-container>
            </ng-container>


          </td>

          <td *ngIf="actionsTpl" class="td--actions">
            <ng-container *ngTemplateOutlet="actionsTpl; context: {$implicit: r}"></ng-container>
          </td>
        </tr>
      </ng-container>

      <tr *ngIf="loading">
        <td class="py-8" [attr.colspan]="columns.length + (actionsTpl?1:0)">
          <div class="space-y-2">
            <div class="skeleton h-10"></div>
            <div class="skeleton h-10"></div>
            <div class="skeleton h-10"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>