<!-- Header-->
<div *ngIf="heading || description || actionsTpl" class="card-header section__head" [class.is-sticky]="sticky">
  <div class="section__titlewrap">
    <h2 *ngIf="heading" class="section-title" [id]="headingId">{{ heading }}</h2>
    <p *ngIf="description" class="section-desc">{{ description }}</p>
  </div>

  <div class="section-actions" *ngIf="actionsTpl">
    <ng-container [ngTemplateOutlet]="actionsTpl"></ng-container>
  </div>
</div>

<!-- Body -->
<div class="card-body section__body">
  <ng-content></ng-content>
</div>
