name: web-ci

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-push:
    runs-on: ubuntu-latest
    outputs:
      tag_sha: ${{ steps.meta.outputs.tag_sha }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install deps
        run: npm install

      - name: Build web
        run: npm run build -- --configuration production

      - uses: docker/setup-buildx-action@v3

      - name: Login a GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute tags
        id: meta
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE="ghcr.io/${OWNER}/fastfood-web"
          SHORT=${GITHUB_SHA::7}

          echo "tag_dev=$IMAGE:dev" >> $GITHUB_OUTPUT
          echo "tag_sha=$IMAGE:sha-$SHORT" >> $GITHUB_OUTPUT

      - name: Build & push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ steps.meta.outputs.tag_dev }}
            ${{ steps.meta.outputs.tag_sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-dev:
    needs: build-push
    runs-on: self-hosted
    steps:
      - name: Login a GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Deploy web
        run: |
          set -e
          COMPOSE_ENV="/opt/apps/stack/.compose.env"
          TAG='${{ needs.build-push.outputs.tag_sha }}'

          echo "IMAGE_TAG_WEB=${TAG##*:}" >> "$COMPOSE_ENV"

          echo "Desplegando Web: $TAG"

          cd /opt/apps/stack
          docker compose pull web
          docker compose up -d --force-recreate web
          docker image prune -f
          echo "Despliegue finalizado."