<label class="form-field" [formGroup]="formGroup" [attr.for]="id">
  <span *ngIf="label" class="form-label" [class.req]="required">{{ label }}</span>

  <!-- wrapper para prefix/suffix -->
  <div class="input-affix">
    <!-- prefix -->
    <ng-container *ngIf="prefixTpl">
      <span class="input-affix__prefix">
        <ng-container [ngTemplateOutlet]="prefixTpl"></ng-container>
      </span>
    </ng-container>

    <ng-container [ngSwitch]="type">
      <textarea *ngSwitchCase="'textarea'" class="field" [class.field--soft]="soft" [class.is-invalid]="invalid"
        [id]="id" [attr.placeholder]="placeholder || null" [attr.aria-invalid]="invalid || null"
        [attr.aria-describedby]="joinIds(helpId, invalid ? errId : null)" [disabled]="disabled"
        [autocomplete]="autocomplete || null" [formControlName]="controlName" rows="3"></textarea>

      <input class="field" [class.field--soft]="soft" [class.is-invalid]="invalid" [id]="id" [attr.type]="type"
        [formControlName]="controlName" [attr.aria-invalid]="invalid || null"
        [attr.aria-disabled]="ctrl?.disabled || null"
        [attr.aria-describedby]="joinIds(helpId, invalid ? errId : null)" />
    </ng-container>

    <ng-container *ngIf="suffixTpl">
      <span class="input-affix__suffix">
        <ng-container [ngTemplateOutlet]="suffixTpl"></ng-container>
      </span>
    </ng-container>
  </div>

  <small *ngIf="hint" class="form-help" [id]="helpId">{{ hint }}</small>
  <small *ngIf="invalid" class="form-error" [id]="errId">{{ msgForError() }}</small>
</label>